{% extends 'base.html.twig' %}
{% block title %}Add new category{% endblock %}
{% block body %}

<form method="post" {{ form_enctype(form)}}>
	
	{{ form_row(form.name) }} 	
	{{ form_row(form.color) }}
	{{ form_row(form.createdBy) }}

	<input class="btn btn-default" type="submit" value="wyslij"/>

	{{form_rest(form) }}

</form>

{% endblock %}
