{% extends 'base.html.twig' %}


{% block body %}
    <h1>Tasks</h1>
    <p><a href="{{ path("new_task") }}" class="btn btn-success">+ Add task</a></p>
    <table class="table">
        <thead>
        <tr>
            <th>Description</th>
            <th>Due date</th>
            <th>Done?</th>
            <th>Priority</th>
            <th>Assignee</th>
            <th>Created by</th>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        {% for task in tasks %}
            <tr>
                <td>{{ task.getContent() }}</td>
                <td>{{ task.getDueDateAsString() }}</td>
                <td>{{ task.getDoneAsYesNo() }}</td>
                <td>{{ task.getPriorityAsString() }}</td>
                <td>{{ task.getAssignee().getName() }}</td>
                <td>{{ task.createdBy.name }}</td>
                <td>{{ task.category.name }}</td>
                <td>
                    <form action="{{ path('edit_task', {id: task.id}) }}" method="post"><input type="submit"
                                                                                               value="Edit"></form>
                </td>
                <td>
                    <form action="{{ path('delete_task', {id: task.id}) }}" method="post"><input type="submit"
                                                                                                 value="Delete"></form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}