{% extends 'base.html.twig' %}



{% block body %}





    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h1>{{ user.name }}</h1>

                <div class="sticky">
                    {{ note }}
                </div>

            </div>
            <div class="col-md-10">
                <h3>Upcoming tasks</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Due date</th>
                        <th>Priority</th>
                        <th>Created by</th>
                        <th>Category</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.content }}</td>
                            <td>{{ task.dueDate | localizeddate('medium', 'none', app.request.get('_locale')) }}</td>
                            <td>{{ task.priority}}</td>
                            <td>{{ task.getCreatedBy().getName() }}</td>
                            <td>{{ task.getCategory().getName() }}</td>

                        </tr>
                    {% endfor %}
                </table>


                <h3>Meetings</h3>
            </div>
        </div>
    </div>






{% endblock %}